# Brief 8 - Mission Impossible
---

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from subprocess import call, check_call
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier,export_graphviz
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.model_selection import train_test_split
from joblib import dump, load
%matplotlib inline
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Ressources/Titanic.csv', sep=';', index_col='PassengerId')
print(df.shape)
df.sample(5)

(891, 11)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
735,0,2,"Troupiansky, Mr. Moses Aaron",male,23.0,0,0,233639,13.0000,NaN,S
784,0,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.0,0,0,345783,9.5000,NaN,S
248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.0,0,2,250649,14.5000,NaN,S

### Cleaning
---

##### Valeurs nulles :

In [3]:
# df.isna().sum()

print ('Valeurs manquantes dans les données :')
for c in df.columns:
    data_nan = len(df) - df[c].count()
    if (data_nan > 0 or data_nan =='NaN'):
        print (c, ':', data_nan, 'valeurs manquantes, soit', 
               str(round(float(data_nan/float(len(df)))*100,3)), '% du total')

Valeurs manquantes dans les données :
Age : 177 valeurs manquantes, soit 19.865 % du total
Cabin : 687 valeurs manquantes, soit 77.104 % du total
Embarked : 2 valeurs manquantes, soit 0.224 % du total

##### Nombre par classe :

In [4]:
df.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

##### Parité :

In [5]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

##### Embarked :

In [6]:
df['Embarked'] = df['Embarked'].map({'C': 'Cherbourg', 'Q': 'Queenstown', 'S': 'Southampton'})
df['Embarked'].unique()

array(['Southampton', 'Cherbourg', 'Queenstown', nan], dtype=object)

##### Nettoyage barbare :

In [7]:
df = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']]
df = df.dropna(subset=['Age'])
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

df.shape

(714, 7)

### 1 - Tests de préentrainement
---

In [8]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [72]:
try:
    DecisionTree_model = load('DecisionTree_model.joblib')
except:
    DecisionTree_model = DecisionTreeClassifier(criterion='gini', max_depth=6, random_state=0)
    DecisionTree_model.fit(X_train, y_train)
    dump(DecisionTree_model, 'DecisionTree_model.joblib')

y_predict = DecisionTree_model.predict(X_test)

export_graphviz(DecisionTree_model, out_file='DecisionTree.dot', feature_names=X.columns)
# call(['dot', '-Tpng', 'DecisionTree.dot', '-o', 'DecisionTree.png'])

accuracy_score(y_test, y_predict)

0.8603351955307262

entrer 'dot -Tpng DecisionTree.dot -o DecisionTree.png' dans le shell pour convertir le *.dot en *.png.

### 2 -	Tests de post entrainement
---

### 3 -	Tests d’évaluation du modèle
---

### BONUS
---

In [49]:
try:
    RandomForest_model = load('RandomForest_model.joblib')
except:
    RandomForest_model = RandomForestClassifier(max_depth=5, random_state=0)
    RandomForest_model.fit(X_train, y_train)
    dump(RandomForest_model, 'RandomForest_model.joblib')

y_predict = RandomForest_model.predict(X_test)

accuracy_score(y_test, y_predict)

0.8715083798882681